@page
@model RedSignal.Pages.Admin.MonitoredLocationsManager.CreateModel
@{
    ViewData["Title"] = "Novo Local Monitorado";
}

<h1>Novo Local Monitorado</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Local.id_usuario_registrou"></label>
        <input asp-for="Local.id_usuario_registrou" class="form-control" />
        <span asp-validation-for="Local.id_usuario_registrou" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Local.nome_local"></label>
        <input asp-for="Local.nome_local" class="form-control" />
        <span asp-validation-for="Local.nome_local" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Local.latitude"></label>
        <input asp-for="Local.latitude" class="form-control" />
        <span asp-validation-for="Local.latitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Local.longitude"></label>
        <input asp-for="Local.longitude" class="form-control" />
        <span asp-validation-for="Local.longitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Local.raio_notificacao_km"></label>
        <input asp-for="Local.raio_notificacao_km" class="form-control" />
        <span asp-validation-for="Local.raio_notificacao_km" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Criar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
